<html>
    <head>
    </head>
    <body>
        
        El registro de Compra Local <b>#{{solLocalId}}</b> de la empresa <b>"{{entNombComercial}}"</b> ha expirado y ha sido cancelado
        <br/><br/>Ingrese al link para revisar la solicitud: <br/>
        <br/>
        
        <a href="{{ url }}">{{ url }}</a>
        
        <br/>
        <br/>
        Saludos,<br/>
        Equipo Sistema de Control de Alcoholes<br/>
        SCA - MINSAL/MH<br/>
        El Salvador<br/>

    </body>
</html>