{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block login %}
<center>
    <h3>
        Se envio un correo electrónico a e-mail asociado a "{{ user.username }}"
    </h3>
</center>
{% endblock %}
