{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block login %}
<h3>
    Lo siento, aún se encuentra vigente la solicitud de olvidó de su clave que realizo recientemente. Por favor busque en su bandeja de entrada el correo enviado anteriormente, o intente nuevamente mas tarde.
    <br/><br/>
    ¿Sabía que las solicitudes para recuperar su cuenta SCA expira en 24 horas?
</h3>
{% endblock %}
