{% extends 'MinSalSCABundle:Default:index.html.twig' %}
{% block body %}
  
    <form>
        <table align="center">
            <tr><td align="center">
                    <h1>Listado de Empresas Autorizadas por la Direccion Nacional de Medicamentos</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                <br></br>                
                {% include 'MinSalSCAAdminBundle:ListadoDNM:showAllListado.html.twig'%}
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>
    
    
{% endblock %}
