{% extends 'MinSalSCABundle:Default:index.html.twig' %}

{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#agregarEntidad').button();
          //$('#eliminarEntidad').button();
          $('#editarEntidad').button();
      });
    </script>
      
    <form action="" method="post">
        <table align="center">
            <tr><td align="center">
                    <h1>Listado de Importadores, Productores, Compradores Locales registrados en SCA</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    {% if app.session.hasFlash('notice') %}
                        <div class="flash-notice">
                            {{ app.session.flash('notice') }}
                        </div><br/>
                    {% endif %}
                    {% include 'MinSalSCAAdminBundle:Entidad:showAllEntidades.html.twig'%}
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="Agregar" id="agregarEntidad" />
                    <input type="button" value="Editar" id="editarEntidad" />
                    <!--<input type="button" value="Eliminar" id="eliminarEntidad"/>-->
                </td>
            </tr>
        </table>        
    </form>
    <br></br>
    <br></br>
    
{% endblock %}
