<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <table align="center" style="border: 1px solid; padding: 10px;">
        <tr>
            <td colspan="2" align="center">
                <h1>Formulario para Recuperación de Cuentas SCA
                </h1>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label for="username">Por favor ingrese su usuario: </label>
            </td>
            <td>
                <input type="text" id="username" name="username" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Enviar" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                {% if invalid_username is defined %}
                    <div class="flash-notice">
                        El usuario ingresado no existe.
                    </div>
                {% endif %}
                <br/>
            </td>
        </tr>
    </table>
</form>

<script lang="javascript/text">
    $('input[type="submit"]').button();
</script>