{% extends 'MinSalSCABundle:Default:index.html.twig' %}

{% block body %}
    <h2> Su usuario ({{user.username}}) ha sido activado satisfactoriamente. Ya puede utilizar el sistema SCA.</h2>
{% endblock body%}