{% extends 'MinSalSCABundle:Default:index.html.twig' %}

{% block body %}
    <center class="flash-notice">
        <h2>No puede ingresar a esta opción pues no existe alguna entidad asociada a su usuario</h2>
    </Center>
    <br></br>
    <br></br>
    
{% endblock %}