
{% block field_row  %}
    {% spaceless %}
    <tr>
        <td align="right">{{ form_label(form) }}: </td>
        <td>{{ form_errors(form) }} {{ form_widget(form) }}</td>
    </tr>
    {% endspaceless %}
{% endblock field_row  %}